<div *ngIf="order.cartItems.length === 0; else orderFormTemplate">
  There is nothing to checkout
  <button class="btn" type="button" routerLink="/products-list">
    Back to products
  </button>
</div>
<ng-template #orderFormTemplate>
  <div *ngIf="order.cartItems.length > 0" class="panel panel-default">
    <div class="panel-heading">
      <h4 class="pannel-title">
        Order Form
      </h4>
    </div>
    <div class="panel-body">
      <form (ngSubmit)="onProcessOrder()" [formGroup]="orderForm">
        <div class="form-group">
          <label>Cart items</label>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Sum</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of order.cartItems">
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price | currency: 'BYN':'code':'.2-2' }}</td>
                <td>
                  {{
                    item.quantity * item.price | currency: 'BYN':'code':'.2-2'
                  }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group" [class.has-error]="controlIsInvalid('name')">
          <label for="name">Name *</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Name"
            formControlName="name"
          />
          <span class="help-block" *ngIf="controlHasErrors('name')">
            Please, enter recipient's name.
          </span>
        </div>
        <div class="form-group" [class.has-error]="controlIsInvalid('phone')">
          <label for="phone">Phone *</label>
          <input
            type="tel"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="Phone"
            formControlName="phone"
          />
          <span class="help-block" *ngIf="controlHasErrors('phone')">
            <span *ngIf="orderForm.get('phone').hasError('required')"
              >Please, enter contact phone.</span
            >
            <span *ngIf="orderForm.get('phone').hasError('maxlength')"
              >Phone number length cannot exceed 50 symbols.</span
            ></span
          >
        </div>
        <div class="form-group" [class.has-error]="controlIsInvalid('email')">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
            formControlName="email"
          />
          <span class="help-block" *ngIf="controlHasErrors('email')">
            <span *ngIf="orderForm.get('email').hasError('pattern')"
              >Please enter email in a valid format.</span
            >
            <span *ngIf="orderForm.get('email').hasError('maxlength')"
              >Email address length cannot exceed 50 symbols.</span
            >
          </span>
        </div>
        <div
          class="form-group"
          [class.has-error]="controlIsInvalid('deliveryDate')"
        >
          <label for="delivery-date">Delivery date</label>
          <input
            type="date"
            class="form-control"
            id="delivery-date"
            name="deliveryDate"
            formControlName="deliveryDate"
          />
          <span class="help-block" *ngIf="controlHasErrors('deliveryDate')">
            <span *ngIf="orderForm.get('deliveryDate').hasError('minDate')"
              >Delivery is possible only in 3 days.</span
            >
          </span>
        </div>
        <div class="form-group">
          <label>Delivery type</label>
          <div class="radio">
            <label
              ><input
                type="radio"
                name="deliveryType"
                formControlName="deliveryType"
                [value]="DeliveryType.byAddress"
                (change)="onDeliveryTypeChange(DeliveryType.byAddress)"
              />By address</label
            >
          </div>
          <div class="radio">
            <label
              ><input
                type="radio"
                name="deliveryType"
                formControlName="deliveryType"
                [value]="DeliveryType.self"
                (change)="onDeliveryTypeChange(DeliveryType.self)"
              />Self</label
            >
          </div>
        </div>
        <div
          class="form-group"
          [class.has-error]="controlIsInvalid('deliveryAddress')"
        >
          <label for="delivery-address">Delivery address *</label>
          <input
            type="text"
            class="form-control"
            id="delivery-address"
            name="deliveryAddress"
            placeholder="Delivery address"
            formControlName="deliveryAddress"
          />
          <span class="help-block" *ngIf="controlHasErrors('deliveryAddress')">
            <span *ngIf="orderForm.get('deliveryAddress').hasError('required')"
              >Please enter delivery address.</span
            >
            <span *ngIf="orderForm.get('deliveryAddress').hasError('maxlength')"
              >Delivery address length cannot exceed 100 symbols.</span
            >
            <span
              *ngIf="orderForm.get('deliveryAddress').hasError('validAddress')"
              >Delivery address should be either 'address-1' or
              'address-2'.</span
            >
          </span>
        </div>
        <div class="form-group">
          <label for="remark">Remark</label>
          <textarea
            class="form-control"
            id="remark"
            name="remark"
            placeholder="Remark"
            formControlName="remark"
          >
          </textarea>
          <span class="help-block" *ngIf="controlHasErrors('remark')">
            Remark length cannot exceed 1000 symbols.
          </span>
        </div>
        <div>Total: {{ totalSum }}</div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="orderForm.invalid"
        >
          Create order
        </button>
        <button type="button" class="btn btn-warning" (click)="cancelOrder()">
          Cancel order
        </button>
        <button class="btn" type="button" routerLink="/cart">
          Back to cart
        </button>
      </form>
    </div>
  </div>
</ng-template>
