<div>
  <div>
    <span>Name </span>
    <span>{{ product.name }}</span>
  </div>
  <div>
    <span>Description </span>
    <span>{{ product.description }}</span>
  </div>
  <div>
    <span>Category </span>
    <span>{{ product.category }}</span>
  </div>
  <div>
    <span>Is available </span>
    <span>{{ product.isAvailable }}</span>
  </div>
  <div>
    <span>Suppliers:</span>
    <ul>
      <li *ngFor="let supplier of product.suppliers">
        {{ supplier }}
      </li>
    </ul>
  </div>
</div>

