<h1>Cart</h1>
<div *ngIf="!items || items.length === 0; else cartSummary">
  Your cart is empty.
</div>
<ng-template #cartSummary>
  <app-cart-item
    *ngFor="let item of items"
    [item]="item"
    (itemRemove)="removeItem($event)"
    (quantityChange)="changeQuantity($event)"
  ></app-cart-item>
  <div>
    <div><span>Total count:</span>{{ totalCount }}</div>
    <div><span>Total sum:</span>{{ totalSum }}</div>
  </div>
  <button (click)="emptyCart()">Empty cart</button>
</ng-template>
<div>
  <a href="javascript:void(0)" (click)="changeView()">Go to products list</a>
</div>
