<h2>Cart</h2>
<div *ngIf="!items || items.length === 0; else cartSummary">
  Your cart is empty.
</div>
<ng-template #cartSummary>
  <select [(ngModel)]="selectedSorting">
    <option value="name">By name</option>
    <option value="price">By price</option>
    <option value="sum">By sum</option>
  </select>
  <input type="checkbox" id="sort-descending" [(ngModel)]="isDescending">
  <label for="sort-descending">Descending order </label>
  <app-cart-item
    *ngFor="let item of (items | orderBy: selectedSorting: isDescending)"
    [item]="item"
    (itemRemove)="removeItem($event)"
    (quantityChange)="changeQuantity($event)"
  ></app-cart-item>
  <div>
    <div><span>Total count:</span>{{ totalCount }}</div>
    <div><span>Total sum:</span>{{ totalSum | currency:'BYN':'code':'.2-2' }}</div>
  </div>
  <button (click)="emptyCart()">Empty cart</button>
</ng-template>
<div>
  <a href="javascript:void(0)" (click)="changeView()">Go to products list</a>
</div>
